include ./nav

doctype
html.mdc-typography
    head
        title School System
        meta(charset="utf-8" name="viewport" content="width=device-width, initial-scale=1")

        link(rel="stylesheet" href="/public/normalize.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500")
        ling(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="/public/dist/material-components-web.min.css")
        link(rel="stylesheet" href="/public/styles/main.css")
        block styles
        block head_scripts
    body
        +nav
        block content

        script(src="/public/dist/material-components-web.min.js")
        script(src="/public/dist/jquery.min.js")
        script(src="/public/scripts/main.js")
        block bottom_scripts