include ./nav

doctype
html
    head
        title School System
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        link(rel="stylesheet" href="/public/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/public/css/font-awesome.min.css")
        link(rel="stylesheet" href="/public/styles/main.css")
        block styles
        block head_scripts
    body
        header
            +nav
        section#main-content
            block content

            script(src="/public/dist/jquery.min.js")
            script(src="/public/dist/umd/popper.min.js")
            script(src="/public/dist/js/bootstrap.min.js")
            script(src="/public/min/moment.min.js")
            script(src="/public/scripts/main.js")
            block bottom_scripts