extends ./base

block content
    div.full.d-flex.flex-column.justify-content-center.align-items-center
        if error
            h1.text-danger= error.message
        else
            h1.text-danger Непозната грешка!