mixin nav
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
        a.navbar-brand(href="/home")
            i.fa.fa-home
        button.navbar-toggler.collapsed(type="button" data-toggle="collapse" data-target="#navbarCollapse")
            span.navbar-toggler-icon
        div#navbarCollapse.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.btn.btn-outline-success(href="/room") Система
            ul.navbar-nav.ml-auto
                li.nav-item.dropdown
                if !user
                    a.active.nav-link.dropdown-toggle(href="#" id="reglog" data-toggle="dropdown")
                        | Регистрация / Вход
                    div.dropdown-menu.dropdown-menu-right
                        a.dropdown-item(href="/users/register") Регистрация
                        a.dropdown-item(href="/users/login") Вход
                else
                    a.nav-link.dropdown-toggle(href="#" id="userctrl" data-toggle="dropdown")= user.username
                    div.dropdown-menu.dropdown-menu-right
                        a.dropdown-item(href="/users/logout") Изход