mixin nav
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
        a.navbar-brand(href="/home")
            i.fa.fa-home
        button.navbar-toggler.collapsed(type="button" data-toggle="collapse" data-target="#navbar-collapse")
            span.navbar-toggler-icon
        div#navbar-collapse.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href="#" data-toggle="dropdown") Система
                    div.dropdown-menu
                        a.dropdown-item(href="/school/settings/base") Основни настройки
                        a.dropdown-item(href="/school/settings/subjects") Настройки на предмети
                        a.dropdown-item(href="/school/settings/groups") Настройки на класовете
                        a.dropdown-item(href="/school/settings/timetable") Настройки на графика

                        a.dropdown-item(href="/school/settings/timetable/generate") Генериране на програма
                        a.dropdown-item(href="/room") Въвеждане на програма
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href="#" data-toggle="dropdown") Присъствия/Отсъствия
                    div.dropdown-menu
                        a.dropdown-item(href="/students/check") Отбележи присъствие
            ul.navbar-nav.ml-auto
                li.nav-item.dropdown
                if !user
                    a.active.nav-link.dropdown-toggle(href="#" data-toggle="dropdown")
                        | Регистрация / Вход
                    div.dropdown-menu.dropdown-menu-right
                        a.dropdown-item(href="/users/register") Регистрация
                        a.dropdown-item(href="/users/login") Вход
                else
                    a.nav-link.dropdown-toggle(href="#" data-toggle="dropdown")= user.username
                    div.dropdown-menu.dropdown-menu-right
                        a.dropdown-item(href="/users/logout") Изход