extends ../../base/base

block content
    div.form.d-flex.flex-column.justify-content-center.align-items-center.mt-5.pt-4
        form(method="post" action="/school/settings/timetable/generate")
            h2 Училището няма въведена програма
            button.mt-1.btn.btn-lg.btn-primary.btn-block(type="submit") Генерирай