extends ../base/base

block styles
    link(rel="stylesheet" href="/public/styles/system.css")

block content
    div.d-flex.flex-column.justify-content-center.align-items-center.mt-5.pt-4
        ul.nav.nav-pills.mb-3(role="tablist")
            li.nav-item
                a.nav-link.active(data-toggle="pill" href="#basic-settings")
                    | Основни настройки
            li.nav-item
                a.nav-link(data-toggle="pill" href="#subject-settings")
                    | Настройки за предмети
            li.nav-item
                a.nav-link(data-toggle="pill" href="#timetable-settings")
                    | Настройки за програмата
            li.nav-item
                a#groups-tab.nav-link(data-toggle="pill" href="#group-settings")
                    | Настройки за групи
            li.nav-item
                a.nav-link(data-toggle="pill" href="#finish")
                    | Преглед на настройки
        div.tab-content
            div#finish.tab-pane.fade
                h2 Преглед
                button.btn.btn-primary(type="button" data-dismiss="modal") Генерирай

            div#basic-settings.tab-pane.fade.show.active
                label(for="school-type") Вид учище:
                select#school-type.form-control
                    option гимназия
                    option основно училище

                label.mt-1(for="groups-per-grade") Брой паралелки за всеки клас:
                input#groups-per-grade.form-control(type="text")
            div#subject-settings.tab-pane.fade
                label(for="subjects-list") Списък с предмети:
                div#subjects-list.input-group
                    input#subject-name.form-control(type="text" placeholder="Име на предмет...")
                    span.input-group-btn
                        button#subject-btn.btn.btn-secondary(type="button") Добави

                div#subjects.list-group.mt-1
            div#timetable-settings.tab-pane.fade
                label.mt-1(for="timeslot-list") Списък с часови диапазони:
                div#timeslot-list.input-group
                    input#from.form-control(type="text" placeholder="От")
                    input#to.form-control(type="text" placeholder="До")
                    span.input-group-btn
                        button#timeslot-btn.btn.btn-secondary(type="button") Добави

                div#timeslots.list-group.mt-1
            div#group-settings.tab-pane.fade
                label(for="group-list") Списък с групи:
                div#groups.list-group.mt-1


block bottom_scripts
    script(src="/public/scripts/timetable/system.js")