extends ./base/base

block content
    div.full.d-flex.flex-column.justify-content-center.align-items-center
        div.form
            h1 При проблеми и въпроси можете да се свържете с мен по
                a(href="https://www.facebook.com/alexander.yankov1173")  facebook