extends ../../base/base

block content
    div.full.d-flex.flex-column.justify-content-center.align-items-center
        h2.mb-5 Отбелязване на присъствие
        form.d-flex.flex-column.justify-content-center.align-items-center(enctype="multipart/form-data" method="post" action="/students/checker")
            label#image-label Отвори камера
                input#image(name="photo" type="file" accept="image/*" capture="camera")
            button.mt-3.btn.btn-primary(type="submit") Прати

block bottom_scripts
    script(src="/public/scripts/school/students/checker.js")