extends ../../base/base

block content
    div.full.d-flex.flex-column.justify-content-center.align-items-center
        input#image(type="file" accept="image/*" capture="camera").d-none

block bottom_scripts
    script(src="/public/scripts/school/students/checker.js")