extends ../../base/base

block content
    div.full.d-flex.flex-column.justify-content-center.align-items-center
        h2#main-heading.mb-5.d-none Отбелязване на присъствие
        h2#use-phone.mb-5.d-none Тази функционалност работи само от телефон!
        form#form.d-none.d-flex.flex-column.justify-content-center.align-items-center(enctype="multipart/form-data" method="post" action="/students/checker")
            label#image-label.d-none Отвори камера
                input#image(name="photo" type="file" accept="image/*" capture="camera")
            button#button.d-none.mt-3.btn.btn-primary(type="submit") Прати

block bottom_scripts
    script(src="/public/scripts/school/students/checker.js")