extends ../base/base

block content
    div.center-form
        form(action="/users/login" method="post")
            div
                label.mdc-form-field.mdc-textfield(data-mdc-auto-init="MDCTextfield")
                    input.mdc-textfield__input(type="text" name="username")
                    span.mdc-textfield__label Потребителско име
            div
                label.mdc-form-field.mdc-textfield(data-mdc-auto-init="MDCTextfield")
                    input.mdc-textfield__input(type="password" name="password")
                    span.mdc-textfield__label Парола

            button.mdc-button.mdc-button--raised(type="submit") Вход