extends ../base/base

block content
    div.full.d-flex.flex-column.justify-content-center.align-items-center
        form.pl-2.pr-2(action="/users/login" method="post")
            h2 Вход
            input.form-control(placeholder="Потребителско име" name="username" type="text" required autofocus)
            label.sr-only(for="input-password") Парола
            input.mt-1.form-control(placeholder="Password" name="password" type="password" required)
            button.mt-1.btn.btn-lg.btn-primary.btn-block(type="submit") Влез