extends ../base/base

block content
    div#register.full.d-flex.flex-column.justify-content-center.align-items-center
        form.pl-2.pr-2
            h2 Регистрация
            input.form-control(placeholder="Име" name="firstName" type="text" required autofocus)
            input.mt-1.form-control(placeholder="Фамилия" name="lastName" type="text" required autofocus)
            input.mt-1.form-control(placeholder="Потребителско име" name="username" type="text" required autofocus)
            input.mt-1.form-control(placeholder="Парола" name="password" type="password" required)

            select#user-type.mt-1.form-control(name="userType")
                option(value="Student" selected) ученик
                option(value="Teacher") учител

            label#lead-teacher.mt-1.custom-control.custom-checkbox.d-none
                input(type="checkbox" name="leadTeacher").custom-control-input
                span.custom-control-indicator
                span.custom-control-description Класен ръководител

            select#group.mt-1.form-control(name="group")

            div#subjects.card.mt-1.d-none
                div#heading-one.card-header
                    h5.mb-0
                        a(data-toggle="collapse" href="#collapse-one") предмети
                div#collapse-one.collapse
                    div.card-body

            button.mt-1.btn.btn-lg.btn-primary.btn-block Регистрирай

block bottom_scripts
    script(src="/public/scripts/users/register.js")