extends ../base/base

block content
    div#register.d-flex.flex-column.justify-content-center.align-items-center
        form.pl-2.pr-2(action="/users/register" method="post")
            h2 Регистрация
            label.sr-only(for="inputUsername") Потребителско име
            input#inputUsername.form-control(placeholder="Потребителско име" name="username" type="text" required autofocus)
            label.sr-only(for="inputPassword") Парола
            input#inputPassword.mt-1.form-control(placeholder="Password" name="password" type="password" required)
            button.mt-1.btn.btn-lg.btn-primary.btn-block(type="submit") Регистрирай