.main {
    overflow: auto;
    padding-left: 16px;
}

.center-form {
    text-align: center;
    margin: auto;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    --mdc-theme-primary: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    color: black;
}