.main {
    overflow: auto;
    padding-left: 16px;
}

.center-form {
    text-align: center;
    margin: auto;
}

#unauthorized {
    text-align: center;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    --mdc-theme-primary: #000000;
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}