extends ../../base/base

block content
    div.d-flex.flex-column.justify-content-center.align-items-center.mt-5.pt-4
        h3 Списък с предмети
        div.form.pl-2.pr-2
            div.input-group
                input#subject-name.form-control(type="text" placeholder="Име на предмет...")
                input#subject-level.form-control(type="text" placeholder="Ниво...")
                span.input-group-btn
                    button#subject-btn.btn.btn-secondary(type="button") Добави

            div#subjects.list-group.mt-1

            button#save-btn.mt-1.btn.btn-lg.btn-primary.btn-block Запази

block bottom_scripts
    script(src="/public/scripts/school/settings/subjects.js")