extends ../../base/base

block content
    div.d-flex.flex-column.justify-content-center.align-items-center.mt-5.pt-4
        h3 Списък с часови диапазони:
        div.form.pl-2.pr-2
            div.input-group
                input#from.form-control(type="text" placeholder="От")
                input#to.form-control(type="text" placeholder="До")
                span.input-group-btn
                    button#timeslot-btn.btn.btn-secondary(type="button") Добави

            div#timeslots.list-group.mt-1

            button#save-btn.mt-1.btn.btn-lg.btn-primary.btn-block Запази

block bottom_scripts
    script(src="/public/min/moment.min.js")
    script(src="/public/scripts/school/settings/timetable.js")